PYTHONPATH=.

# DATABASE
DB_USER=transaction_user
DB_PASSWORD=transaction_pwd
DB_NAME=transaction_processor
DB_HOST=localhost
DB_PORT=5432

# RABBITMQ
RABBITMQ_USER=transaction_user
RABBITMQ_PASSWORD=transaction_pwd
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
